body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #141e30, #2a6c56);
  color: #fff;
}

header {
  text-align: center;
  padding: 1em 0;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
}

.faq-box {
  width: calc(33.33% - 20px); /* 20px for margins and padding */
  margin-bottom: 20px;
  background: #141e30;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-box:hover {
  background-color: #456;
}

.faq-question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.faq-answer {
  display: none;
  font-size: 16px;
}




header{
display: flex;
padding-left: 5%;
padding-right: 5%;
justify-content: space-between;
box-shadow: 0px 10px 25px #0000006d;
height: 60px;
}
.Main-nav{
margin-top: 17px;
}
a{
font-size: 20px;
color: white;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
margin-right: 20px;
}
a:hover{
color: tomato;
}