{% extends "base.html" %}
{% load static %}

{%block description  %}This is my homepage{%endblock%}
{% block robots %}index, follow{% endblock %}
{% block css %} {% static "main/face-recog.css" %} {% endblock %}
{% block keywords %}cms{% endblock %}

{% block title %}CMS{% endblock %}

{% block body %}
<h1>FACE-RECOGNITION</h1>
<a href="{% url 'features' %}"  class="btn btn-primary custom-btn" style="margin:15px;margin-top: 20px;padding: 10px;background-color:white;color:black;text-decoration:none">BACK</a>
<div class="container">
  <h2>Upload Image</h2>
  <form class="" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="file">Choose Image:</label>
          <input id="file" type="file" name="image" onchange="loadFile(event)" required>
      </div>
      <div class="form-group">
          <button type="submit">Submit</button>
      </div>
  </form>
</div>

{% if matched_names %}
  <div id="result">
    {% if matched_names %}
      <p>Image matched with the following reference image(s):</p>
      <ul>
        {% for name in matched_names %}
          <li>{{ name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No match found with the reference images.</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}