{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block css %}{% static "main/my.css" %} {% endblock %}
  <title>Document</title>
</head>
{% block body %}
{% include "includes/nav.html" %}
  <h1 style="color: aliceblue;text-align: center;padding-top: 20px;">LATEST NEWS</h1>
  <div class="card-container">
    <div class="card">
      <h2 style="text-align: center;">Mumbai jeweller shot dead in armed daylight heist
      </h2>
      <img src="{% static 'img/c1.PNG' %}" class="pic-1">
      <div class="card-content">
        <h1 class="event-title"> Mumbai jeweller shot dead...
          <a href="cr1.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;">Mumbai Cop Poses As Food Delivery Agent, Arrests Peddler With ₹ 10 Lakh Drug</h2>
      <img src="{% static 'img/crime2.PNG' %}" class="pic-2">
      <div class="card-content">
        <h1>Mumbai Cop Poses As Food Delivery Agent, Arrests Peddler With ₹ 10 Lakh Drug
          <a href="cr2.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;">Mumbai Police Arrests 3 People From Gujarat For Issuing Bomb Threat To RBI</h2>
      <img src="{% static 'img/crime3.PNG' %}" class="pic-3">
      <div class="card-content">
        <h1> Mumbai Police Arrests 3 People From Gujarat For Issuing Bomb Threat To RBI
          <a href="crime3.PNG" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p> 
        </p>
        
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

  </div>

<!--gvdbbagxvgvjsbvskjbvajbvisdbvisubviajhchbdvihaihbvihavsyishiubivisbvibs-->

  <div class="card-container">
    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1 class="event-title"> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p> 
        </p>
        
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

  </div>


  <!--hbvkhwbvwbavkjnajnsicjaoubivsdvskfhbvisbnd cmsxlncbcvcfvwuecbisvshbvsvw-->

  <div class="card-container">
    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1 class="event-title"> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1> 
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1>
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

    <div class="card">
      <h2 style="text-align: center;"></h2>
      <img src="">
      <div class="card-content">
        <h1>
          <a href="new-page.html" class="arrow-circle">
          <div class="circle">
            <div class="arrow">&#10140;</div>
          </div>
        </a></h1>
        
        <hr class="straight-line">
        <br>
        <p>
        </p>
        
      </div>
    </div>

  </div>
  {% endblock %}
</html>